.x.axis, .y.axis {
  stroke: #000;
  stroke-opacity:0.3;
  line{
  }
  path{
    fill: none;
  }
  .minor{
    stroke-opacity: .5;
  }
}

text, tspan {
  stroke: none;
  fill: #000;
  font-size: 8px;
}

.heatrect {
  stroke: none;
}
